html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 15px rgb(128, 128, 128);
}

.pic img {
    width: 200px;
    padding-left: 200px;
}

.navigation nav {
    padding-top: 130px;
    padding-right: 200px;
}

.navigation a {
    padding-left: 70px;
    color: rgba(211, 37, 37, 0.753);
    text-decoration: none;
    font-size: 30px;
}

.navigation a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 30px;
    padding-left: 500px;
    padding-right: 300px;
    max-width: 1600px;
    margin-bottom: 150px;
}

.food-card {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.337);
    transition: 0.5s;
}

.food-card:hover {
    transform: translateY(-5px);
}

.food-card img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

h3 {
    color: rgba(255, 0, 0, 0.753);
}

.food-card p {
    font-size: 16px;
    padding: 0 5px;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.623);
}

.food-card button {
    background-color: rgb(63, 61, 61);
    color: white;
    width: 100%;
    padding: 15px;
    margin-top: auto;
    font-size: 20px;
    border: none;
    transition: 0.3s;
}

.food-card button:hover {
    background-color: rgba(211, 37, 37, 0.753);
}

.food-card .price {
    font-weight: 700;
    color: black;
    font-size: 18px;
}

.form-photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.out img {
    width: 768px;
    height: auto;
    border-radius: 50px;
    transition: 0.5s;
}

.out img:hover {
    transform: scale(1.01);
}

form {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.493);
    margin-right: 400px;
    padding: 120px 60px;
    border-radius: 10%;
    transition: 0.5s;
}

form:hover {
    transform: translateY(-10px);
}

form label {
    font-size: 24px;
    padding-right: 20px;
}

form input {
    padding-top: 5px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 10px;
}

form p {
    font-size: 30px;
    font-weight: 700;
}

form button {
    margin-top: 35px;
    padding: 5px;
    width: 100%;
    font-size: 24px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgb(63, 61, 61);
    color: white;
    border: none;
}

form button:hover {
    background-color: rgba(211, 37, 37, 0.753);
}

.info {
    width: 70%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    border-right: 3px solid black ;
    border-left: 3px solid black;
    margin-bottom: 200px;
}

.info h2 {
    font-size: 34px;
}

.info p {
    font-size: 28px;
    color: rgb(77, 76, 76);
    font-style: italic;
}

#up {
    border: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: rgba(211, 37, 37, 0.853);
    border-radius: 45%;
    color: white;
    font-size: 40px;
    transition: 0.3s;
}

#up:hover {
    background-color: rgba(211, 37, 37, 0.953);
}

footer {
    color: rgba(211, 37, 37, 0.753);
    font-size: 24px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 -5px 15px rgb(128, 128, 128);
}

@media (max-width: 768px) {
    body {
        max-width: 768px;
    }

    .out {
        display: none;
    }
    
    * {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header {
        flex-direction: column;
        padding-left: 50px;
    }

    .navigation nav {
        padding: 0;
        padding-bottom: 30px;
        padding-left: 10px;
    }

    h1 {
        text-align: left;
        padding-left: 250px;
        margin-bottom: 30px;
    }

    .container {
        padding: 0;
        max-width: 580px;
        flex-direction: column;
        padding-left: 185px;
    }

    #up {
        display: none;
    }

    form {
        margin: 0;
        margin-left: 30px;
        width: 70%;
    }

    .info {
        margin: 0;
        margin-left: 100px;
        margin-bottom: 100px;
    }
}
